<h1>Friends List</h1>

  <% if user_signed_in? %>

    <table class="table table table-striped table-sm table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Twitter</th>
          <th>User ID</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @friends.each do |friend| %>
          <% if friend.user == current_user %>
            <tr class="table-active">
              <td><%= link_to friend.first_name + '' + friend.last_name, friend %>
              <td><%= friend.email %></td>
              <td><%= friend.phone %></td>
              <td><%= friend.twitter %></td>
              <td><%= friend.user_id %></td>
              <td><%= link_to 'Edit', edit_friend_path(friend), class: "btn btn-sm btn-outline-secondary" %></td>
              <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %></td>
            </tr>
          <% end %>
        <% end %>
   <% else %>
   <h1>Hello World!</h1>
   This is my first rails webpage
   <% end %>


  </tbody>
</table>